$size: 20px;

#edit-windows,
#edit-apple {
  .form-type-checkbox {
    input {
      display: none;
    }
    label {
      position: relative;
      padding-left: $size + 20;
      font-size: 14px;
      line-height: $size;

      &:before,
      &:after {
        content: '';
        position: absolute;
        border-radius: 50%;
      }
      &:before {
        width: 16px;
        height: 16px;
        top: 7px;
        left: 3px;
        background: #00bf00;
        border: none;
        opacity: 0;
      }
      &:after {
        border: 1px solid #3b6eb7;
        width: $size;
        height: $size;
        top: 4px;
        left: 0;
      }
    }
    &:not(.form-disabled) {
      label {
        &:hover::before {
          opacity: .3;
        }
      }
    }
    &.form-disabled {
      label {
        &:before {
          opacity: .3;
        }
      }
    }
    .red + label {
      &:before {
        background: #f00;
      }
    }
    input:checked + label:before {
      opacity: 1;
    }
    .description {
      margin-left: $size + 20;
    }
  }
  .error-messages {
    margin-left: $size + 20;
    margin-top: 0;
    color: #f00;
  }
  .form-type-checkbox {
    label {
      &:before,
      &:after {
        border-radius: 0;
      }
    }
  }
}

#edit-windows {
  .jquery_colorpicker {
    margin-top: 10px;
  }
}
